#list{
    width: 600px; 
    height: 400px;  
    overflow: hidden;  
    margin: 50px auto;
}
#list .pics{
    display: inline-block;
    width: 1800px;   
    margin: 0;
    padding: 0;
}
#list li{
    width: 600px;
    float: left;
    list-style-type: none;
}
#list .left{
    display: inline-block;
    background: url(./img/lr-btn.png) no-repeat 0 0;
    width: 34px;
    height: 34px;
    position: relative;
    top: -200px;
    left: 6px;
    cursor: pointer;
}
#list .right{
    display: inline-block;
    background: url(./img/lr-btn.png) no-repeat 0 -34px;
    width: 34px;
    height: 34px;
    position: relative;
    top: -200px;
    left: 520px;
    cursor: pointer;
}
#list .quick{
    position: relative;
    top: -70px;
    text-align: center;
}
#list .snav{
    display: inline-block;
    background: url(./img/quick.png) no-repeat -20px 0;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
#list .active{
    background: url(./img/quick.png) no-repeat 0 0;
}
